.heading{
    color: black;
}

.btn{
    background-color: black;
    color: white;
    height: 2rem;
    width: 3rem;
}

#task-input{
    height: 2rem;
    text-align: center;

}

#date-input{
    height: 2rem;
    
}